@model CarSalesApp.Web.ViewModels.Cars.EditCarAdViewModel
@using CarSalesApp.Data.Models.Enums;

@{
    ViewData["Title"] = "EditAdCar";
    var makes = Model.Makes.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
    var models = Model.Models.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
    var bodies = Model.Bodies.Select(x => new SelectListItem(x.Title, x.Id.ToString()));
    var drives = Model.Drives.Select(x => new SelectListItem(x.Title, x.Id.ToString()));

}

<h1 id="hhhh">EditAdCar</h1>

<form class="form-group container-fluid" asp-controller="Cars" asp-action="EditAdCar" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-4">
            <label asp-for="MakeId">Makes</label>
            <select asp-for="MakeId" asp-items="@makes" id="makeList" class="form-control btn btn-secondary dropdown-toggle" onchange="getModelForCurrentMake()">
                <option>--Select Make--</option>
            </select>
            <span asp-validation-for="MakeId" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="ModelId">Model </label>
            <select asp-for="ModelId" asp-items="@models" id="modelId" class="selectpicker form-control btn btn-secondary dropdown-toggle">
                <option>--Select Model--</option>
            </select>
            <span asp-validation-for="ModelId" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="BodyId">Bodies</label>
            <select asp-for="BodyId" asp-items="@bodies" id="bodyList" class="form-control btn btn-secondary dropdown-toggle">
                <option>--Select Body--</option>
            </select>
            <span asp-validation-for="BodyId" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Color">Colors</label>
            <select asp-for="Color" asp-items="Html.GetEnumSelectList<ColorType>()"
                    class="form-control btn btn-secondary dropdown-toggle">
                <option>--Select Color--</option>
            </select>
            <span asp-validation-for="Color" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Month">Months</label>
            <select asp-for="Month" asp-items="Html.GetEnumSelectList<MonthsOfYear>()"
                    class="form-control btn btn-secondary dropdown-toggle">
                <option>--Select Month--</option>
            </select>
            <span asp-validation-for="Month" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Year"></label>
            <select asp-for="Year" id="yearselect" class="selectpicker form-control btn btn-secondary dropdown-toggle">
                <option>--Select Year From--</option>
                @for (int i = 1950; i <= @DateTime.Now.Year; i++)
                {
                    <option>@i</option>
                }
            </select>
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="FuelId">Fuel</label>
            <select asp-for="FuelId" id="fuelList" asp-items="Html.GetEnumSelectList<FuelType>()"
                    class="form-control btn btn-secondary dropdown-toggle" onchange="getDrivesWithCurrentFuelForAdCar()">
                <option>--Select Fuel--</option>
            </select>
            <span asp-validation-for="FuelId" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Mileage"></label>
            <input asp-for="Mileage" class="form-control" type="number" placeholder="Enter Displacement" />
            <span asp-validation-for="Mileage" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control" type="number" placeholder="Enter Displacement" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="DriveId">Drives</label>
            <select asp-for="DriveId" asp-items="@drives" id="driveId" class="selectpicker form-control btn btn-secondary dropdown-toggle">
                <option>--Select Drive--</option>
            </select>
            <span asp-validation-for="DriveId" class="text-danger"></span>
        </div>
        <div class="col-md-4" hidden>
            <label asp-for="MainImage"></label><small class="text-muted">  - Only one image - Required field</small>
            <input asp-for="MainImage" type="file" class="btn btn-secondary @*toggle*@" name="MainImage">
        </div>
        <div class="col-md-4" hidden>
            <label asp-for="Images"></label><small class="text-muted">  - Least one image - Required field</small>
            <input asp-for="Images" type="file" class="btn btn-secondary @*toggle*@" name="Images" multiple>
        </div>
    </div>
    <br />
    <h4>Equipment</h4>
    <div class="container">
        <span asp-validation-for="CarFeatures" class="text-danger"></span>
        <div class="row">
            <div class="col-3">
                <h5>Comfort & Convenience</h5>
                @foreach (var item in Model.Comfort)
                {
                    @if (Model.CarFeatures.Any(x => x.Id == item.Id))
                    {
                        <div>
                            <input type="checkbox" class="custom-control-input" name="InputFeatures" id="customCheck(@item.Id)" value="@item.Id" checked />
                            <label class="custom-control-label" for="customCheck(@item.Id)">@item.Name</label>
                        </div>
                    }
                    else
                    {
                        <div>
                            <input type="checkbox" class="custom-control-input" name="InputFeatures" id="customCheck(@item.Id)" value="@item.Id" />
                            <label class="custom-control-label" for="customCheck(@item.Id)">@item.Name</label>
                        </div>
                    }
                }
            </div>
            <div class="col-3">
                <h5>Entertainment & Media</h5>
                @foreach (var item in Model.Entartaiment)
                {
                    @if (Model.CarFeatures.Any(x => x.Id == item.Id))
                    {
                        <div>
                            <input type="checkbox" class="custom-control-input" name="InputFeatures" id="customCheck(@item.Id)" value="@item.Id" checked />
                            <label class="custom-control-label" for="customCheck(@item.Id)">@item.Name</label>
                        </div>
                    }
                    else
                    {
                        <div>
                            <input type="checkbox" class="custom-control-input" name="InputFeatures" id="customCheck(@item.Id)" value="@item.Id" />
                            <label class="custom-control-label" for="customCheck(@item.Id)">@item.Name</label>
                        </div>
                    }
                }
            </div>
            <div class="col-3">
                <h5>Extras</h5>
                @foreach (var item in Model.Extras)
                {
                    @if (Model.CarFeatures.Any(x => x.Id == item.Id))
                    {
                        <div>
                            <input type="checkbox" class="custom-control-input" name="InputFeatures" id="customCheck(@item.Id)" value="@item.Id" checked />
                            <label class="custom-control-label" for="customCheck(@item.Id)">@item.Name</label>
                        </div>
                    }
                    else
                    {
                        <div>
                            <input type="checkbox" class="custom-control-input" name="InputFeatures" id="customCheck(@item.Id)" value="@item.Id" />
                            <label class="custom-control-label" for="customCheck(@item.Id)">@item.Name</label>
                        </div>
                    }
                }
            </div>
            <div class="col-3">
                <h5>Safety & Security</h5>
                @foreach (var item in Model.Safety)
                {
                    @if (Model.CarFeatures.Any(x => x.Id == item.Id))
                    {
                        <div>
                            <input type="checkbox" class="custom-control-input" name="InputFeatures" id="customCheck(@item.Id)" value="@item.Id" checked />
                            <label class="custom-control-label" for="customCheck(@item.Id)">@item.Name</label>
                        </div>
                    }
                    else
                    {
                        <div>
                            <input type="checkbox" class="custom-control-input" name="InputFeatures" id="customCheck(@item.Id)" value="@item.Id" />
                            <label class="custom-control-label" for="customCheck(@item.Id)">@item.Name</label>
                        </div>
                    }
                }
            </div>
        </div>

    </div>
    <br />

    <div>
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="col-md">
        <button type="submit" class="btn btn-secondary">Add</button>
    </div>
</form>





